{
  "extends": ["@uncinc/eslint-config"],
  "globals": {
    "strapi": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "@typescript-eslint/unbound-method": "off"
  }
}
