name: Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - './.changeset/**/*'
      - './migrations/**/*'
      - './**/*.md'
  pull_request:
    branches:
      - monorepo
      - master
      - develop
    paths-ignore:
      - './.changeset/**/*'
      - './migrations/**/*'
      - './**/*.md'

jobs:
  lint:
    name: 'lint'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Make build
        run: yarn run build
      - name: Run eslint
        run: yarn run eslint
  test:
    name: 'test'
    needs: [lint]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - name: Install plugin dependencies
        run: yarn install
      - name: Build the packages
        run: yarn run build
      - name: Install playground dependencies
        run: yarn playground:install
      - name: Install webtools-core from the yalc registery
        run: yarn dlx yalc add --link @pluginpal/webtools-core && yarn install
      - name: Build the playground
        run: yarn playground:build
        # We allow the unit tests to fail the first time around.
        # For some reason they always fail the first time.
      - name: Run unit tests (allow failures)
        run: yarn test:unit || exit 0
        # Then we run the test again, but this time we disallow failures.
        # This way we can see the actual error messages.
      - name: Run unit tests (disallow failures)
        run: yarn test:unit
      - name: Run integration tests
        run: yarn test:integration
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV }}
          flags: unit
          verbose: true
          fail_ci_if_error: true


